#divLoading {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

* {
    /* 超过容器宽度强制折断字符到下一行 */
    word-break: break-all;
}

#container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#container>div {
    max-width: 300px;
}

.card-footer span {
    display: inline-block;
    margin: .2rem;
}

.card-footer span:first-of-type::before {
    content: "发帖时间：";
}

.card-body {
    text-align: center;
    text-decoration: underline;
}

.card-body:hover {
    cursor: pointer;
    color: pink;
}