/* 外部css样式文件 */
/* 
  格式：注意！！！！！！前面有个.符号
  .样式名称 {
  样式的内容
  样式属性：样式的值;
  例如：width:100px;
  }
*/
.style01 {color: #ff0000;
  /* 
  color字体颜色，值可以是#开头的十六进制颜色数值
  数值是RGB（红绿蓝）三原色，每两个数是一个颜色值
  */
  /* font-size:字体大小，单位有px像素，
  rem基准字体倍数，em相对倍数 */
  font-size: 2rem;
}

.style02 {
  font-size: 26px;
  /* 粗体 */
  font-weight: bold;
}
