<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>02.班级和学生的联动</title>
</head>

<body>
  <div id="app">
    班级：<select v-model="cid" @change="queryStudents">
      <option v-for="c in classList" :value="c.cid" :key="c.cid">
        {{c.cname}}
      </option>
    </select> 学生：
    <select v-model="sid">
      <option v-for="s in studentList" :value="s.sid" :key="s.sid">
        {{s.sname}}
      </option>
    </select>
  </div>



  <script src="../lib/axios.min.js"></script>
  <script src="../lib/qs.min.js"></script>
  <script src="../lib/spark-md5.js"></script>
  <script src="../lib/vue.min.js"></script>
  <script src="../lib/ajax.js"></script>
  <script src="js/02.班级和学生的联动.js"></script>
</body>

</html>