/* table,
th,
td {
  border: 1px solid #bfa;
}
table {
  border-collapse: collapse;
  width: 100%;
} */

#divDialog {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  background-color: #999;

  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#divDialog > div {
  padding: 2rem;
  border-radius: 1rem;
  background-color: #fff;
}

#divDialog>div>div{
  margin: 0.5rem 0 ;
}
