#divModifyDialog {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#myImg {
    display: none;
    width: 2rem;
    height: auto;
    margin: 0 2rem 0 1rem;
}