* {
    margin: 0;
    padding: 0;
}

.tc {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner-border {
    position: fixed;
    left: 50%;
    top: 30%;
}

#pageList {
    display: flex;
    flex-direction: row;
}