<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>用户登录</title>
</head>

<body>
    <div id="app">
        <div>{{title}}</div>
        <div>
            <input type="text" v-model="user.username" placeholder="登录名">
            <input type="text" v-model="user.password" placeholder="密码">
            <button @click="login">登录</button>
            <button>重置</button>
            <span>{{message}}</span>
        </div>
    </div>

    <script src="../lib/axios.min.js"></script>
    <script src="../lib/qs.min.js"></script>
    <script src="../lib/spark-md5.js"></script>
    <script src="../lib/vue.min.js"></script>
    <script src="../js/ajax.js"></script>

    <script src="js/login.js"></script>
</body>

</html>