<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>用户首页</title>
    <link rel="stylesheet" href="./css/main.css">
</head>

<body>
    <div id="app">
        <div>
            {{title}}
            <div>
                <span v-if="tbUserInfo.img" class="img-box">
                    <img :src="tbUserInfo.img" alt="头像">
                </span>
                <span v-else>
                    没有头像
                </span>
                - 欢迎：{{tbUser.nickname}}
                - 性别：{{tbUserInfo.sex | sex}}
                - 注册时间: {{tbUser.lastupdate | formatData('YYYY-MM-DD')}}
                - 注册天数: {{userOtherInfo.regDays | regDays}}
                <button @click="showModify">修改附加信息</button>
                <button @click="mailVisible=true">修改邮箱</button>
                <button @click="phoneVisible=true">修改手机号</button>
                <button @click="logout">安全退出</button>
                <div class="menus">
                    <a v-for="(d, index) in menus" :key="index" :href="d.link">{{d.text}}</a>
                </div>
            </div>
            <!-- 修改附加信息的部分 -->
            <div v-if="visible" class="modify-box">
                <div>
                    性别：<select v-model="modifyInfo.sex">
                        <option v-for="d in sexList" :value="d.value">{{d.text}}</option>
                    </select>

                    <div>
                        qq:<input type="text" v-model="modifyInfo.qq">
                    </div>
                    <div>
                        wechat:<input type="text" v-model="modifyInfo.wechat">
                    </div>
                    <div>
                        imgUrl:<input type="text" v-model="modifyInfo.img">
                    </div>
                    <div>
                        info:<input type="text" v-model="modifyInfo.info">
                    </div>
                    <!-- <hr>
                    {{modifyInfo}} -->
                    <div>
                        <button @click="modify"> 保存</button>
                        <button @click="visible=false"> 关闭</button>
                    </div>
                </div>
            </div>
            <!-- 修改邮箱 -->
            <hr>
            <div v-if="mailVisible">
                <input type="text" v-model="mailInfo.email">
                <button @click="sendMailCode">发送验证码</button>
                <input type="text" v-model="mailInfo.code">
                <button @click="saveMail">保存</button>
                <button @click="mailVisible=false">关闭</button>
            </div>
            <hr>

            <!-- 修改手机 -->
            <div v-if="phoneVisible">
                手机号 <input type="text" v-model="phoneInfo.phone">
                图片验证码<input type="text" v-model="phoneInfo.imageCode">
                <button @click="sendPhoneImgCode">刷新图片验证码</button>
                <img :src="phoneInfo.imgUrl" alt="">
                <button @click="sendPhoneCode">发送手机验证码</button>
                验证码<input type="text" v-model="phoneInfo.code">
                <button @click="savePhone">保存</button>
                <button @click="phoneVisible=false">关闭</button>
            </div>
        </div>
        {{tbUserInfo}}
        <hr>
        {{userOtherInfo}}
    </div>

    <script src="../lib/axios.min.js"></script>
    <script src="../lib/qs.min.js"></script>
    <script src="../lib/spark-md5.js"></script>
    <script src="../lib/vue.min.js"></script>
    <script src="../js/ajax.js"></script>
    <script src="../js/myfilter.js"></script>
    <script src="js/main.js"></script>
</body>

</html>