* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.container {
    width: 60vw;
    height: 100vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.comment,
.comments {
    padding: 1rem 2rem;
    width: 100%;
}

.comment .userInfo {
    display: flex;
}

.comment .userAvatar {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 10px;
    margin-right: 2rem;
    background-color: #ccc;
}

.userAvatar i {
    font-size: 42px;
}

.comment .userMessage {
    width: 100%;
    font-size: 16px;
    word-spacing: 1px;
}

.userMessage textarea {
    width: 100%;
    height: 100px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    padding: 5px 10px;
    background-image: url(https://butterfly.js.org/img/comment_bg.png);
    background-repeat: no-repeat;
    background-position: right;
    line-height: 20px;
}

.userMessage textarea:focus {
    outline: 0;
    border: 1px solid #409eff;
}

.userOperate {
    display: flex;
    justify-content: end;
    padding: 1rem 0;
}

.userOperate button {
    font-size: 14px;
    border-radius: 5px;
    padding: .5rem .8rem;
    border: 1px solid #ccc;
    background-color: #eee;
    cursor: pointer;
}

.userOperate button:focus {
    outline: 0;
}

.userOperate .userReset {
    margin-right: .8rem;
}

.userOperate .userReset:hover {
    color: #409EFF;
    border-color: #c6e2ff;
    background-color: #ecf5ff;
}

.userOperate .userAdd {
    color: #FFF;
    background-color: #a0cfff;
    border-color: #a0cfff;
    cursor: not-allowed;
}

.comments-content {
    width: 100%;
    margin: 2.5rem 0;
}

.comments .comments-title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 1rem;
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 2;
}

.comments-title .comments-title-count {
    font-size: 1.5rem;
    height: inherit;
}

.comments-title .comments-title-refresh-set i {
    margin-left: .5rem;
    color: #409eff;
    font-size: 25px;
    cursor: pointer;
}

.comments-content .comments-userInfo {
    display: flex;
    width: 100%;
}

.comments-userInfo .comments-userAvatar {
    background-color: #ccc;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 10px;
    margin-right: 2rem;
}

.comments-userMessage {
    width: 100%;
}

.comments-userMessage>.userMessage-row {
    margin-bottom: 1rem;
}

.userMessage-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row-action i {
    margin-left: 0.6rem;
    color: #409eff;
    font-size: 20px;
    cursor: pointer;
}


/* .row-action i:hover {
    color: #409eff;
} */